<!DOCTYPE html>
<html>
  <head>
    <title>Chester Bennington - Linkin Park</title>
  </head>
  <body>
    <hr />
    <center>
      <p>
        <a href="../index.html">⬅ Kembali ke Beranda</a>
      </p>
    </center>
    <hr />

    <br />

    <center>
      <h2>CHESTER BENNINGTON</h2>
      <hr width="100" />
      <img
        src="../assets/img/chester.jpeg"
        alt="Chester Bennington"
        width="250"
      />
      <p><small>Vokalis Utama Linkin Park</small></p>
    </center>

    <br />

    <table width="90%" align="center" border="0">
      <tr>
        <td valign="top">
          <p>
            <strong>Chester Charles Bennington</strong> (20 Maret 1976 – 20 Juli
            2017) adalah vokalis utama dari band Linkin Park. Ia dikenal karena
            suara vokalnya yang emosional, bertenaga, dan penuh ekspresi, yang
            menjadi ciri khas utama dari lagu-lagu Linkin Park.
          </p>
          <p>
            Chester bergabung dengan Linkin Park pada tahun 1999 dan menjadi
            bagian integral dari kesuksesan album debut mereka,
            <em>Hybrid Theory</em> (2000), yang meraih berbagai penghargaan dan
            menjadi salah satu album rock terlaris di era 2000-an.
          </p>
          <p>
            Selain bersama Linkin Park, Chester juga pernah menjadi vokalis band
            <em>Dead by Sunrise</em> dan <em>Stone Temple Pilots</em>.
          </p>
          <p>
            Chester meninggal dunia pada tahun 2017, namun warisan musik dan
            semangatnya tetap hidup di hati para penggemar di seluruh dunia.
          </p>
        </td>
      </tr>
    </table>

    <br />
    <hr />
    <center><p>Ebren Tinambunan | © 2025 Linkin Park Fan Page</p></center>
  </body>
</html>
