<!DOCTYPE html>
<html>
  <head>
    <title>Dave Farrell - Linkin Park</title>
  </head>
  <body>
    <hr />
    <center>
      <p>
        <a href="../index.html">⬅ Kembali ke Beranda</a>
      </p>
    </center>
    <hr />

    <br />

    <center>
      <h2>DAVE "PHOENIX" FARRELL</h2>
      <hr width="100" />
      <img src="../assets/img/dave.jpeg" alt="Dave Farrell" width="250" />
      <p><small>Bassis - Linkin Park</small></p>
    </center>

    <br />

    <table width="90%" align="center" border="0">
      <tr>
        <td valign="top">
          <p>
            <strong>David Michael Farrell</strong>, lebih dikenal dengan nama
            panggung <strong>"Phoenix"</strong>, lahir pada 8 Februari 1977 di
            Plymouth, Massachusetts. Ia adalah bassis utama dari Linkin Park.
          </p>
          <p>
            Sebelum bergabung secara permanen dengan Linkin Park, Dave sempat
            menjadi bagian dari band Tasty Snax dan juga terlibat sejak era awal
            ketika band ini masih bernama <em>Xero</em>.
          </p>
          <p>
            Phoenix dikenal dengan gaya permainan bass-nya yang stabil dan
            dinamis, memberikan pondasi penting dalam lagu-lagu Linkin Park. Ia
            juga memainkan peran dalam penulisan lagu dan kerap aktif dalam
            komunikasi band dengan para penggemar.
          </p>
          <p>
            Selain bermusik, Dave dikenal sebagai sosok yang aktif di berbagai
            kegiatan sosial dan olahraga, serta sering tampil di panggung dengan
            energi yang tinggi.
          </p>
        </td>
      </tr>
    </table>

    <br />
    <hr />
    <center><p>Ebren Tinambunan | © 2025 Linkin Park Fan Page</p></center>
  </body>
</html>
