<!DOCTYPE html>
<html>
  <head>
    <title>Mike Shinoda - Linkin Park</title>
  </head>
  <body>
    <hr />
    <center>
      <p>
        <a href="../index.html">⬅ Kembali ke Beranda</a>
      </p>
    </center>
    <hr />

    <br />

    <center>
      <h2>MIKE SHINODA</h2>
      <hr width="100" />
      <img src="../assets/img/mike.jpeg" alt="Mike Shinoda" width="250" />
      <p><small>Rapper, Vokalis, Keyboard, Gitar - Linkin Park</small></p>
    </center>

    <br />

    <table width="90%" align="center" border="0">
      <tr>
        <td valign="top">
          <p>
            <strong>Michael Kenji Shinoda</strong> lahir pada 11 Februari 1977
            di Agoura Hills, California. Ia adalah salah satu pendiri dan
            anggota utama Linkin Park. Mike dikenal karena kemampuannya
            mencampurkan elemen rap dan rock dengan gaya unik yang menjadi ciri
            khas band ini.
          </p>
          <p>
            Dalam Linkin Park, Mike berperan sebagai rapper, vokalis kedua,
            penulis lagu, pemain keyboard, gitaris, sekaligus produser. Ia juga
            sering menjadi otak kreatif di balik arah musikal dan visual band.
          </p>
          <p>
            Di luar Linkin Park, Mike memiliki proyek solo bernama
            <em>Fort Minor</em>, yang terkenal dengan lagu
            <strong>"Remember the Name"</strong>. Ia juga aktif sebagai seniman
            visual dan produser musik untuk berbagai proyek.
          </p>
          <p>
            Setelah kepergian Chester Bennington, Mike merilis album solo
            <em>Post Traumatic</em> yang mengekspresikan perjalanan
            emosionalnya, dan terus menjaga warisan Linkin Park tetap hidup.
          </p>
        </td>
      </tr>
    </table>

    <br />
    <hr />
    <center><p>Ebren Tinambunan | © 2025 Linkin Park Fan Page</p></center>
  </body>
</html>
