<!DOCTYPE html>
<html>
  <head>
    <title>Rob Bourdon - Linkin Park</title>
  </head>
  <body>
    <hr />
    <center>
      <p>
        <a href="../index.html">⬅ Kembali ke Beranda</a>
      </p>
    </center>
    <hr />

    <br />

    <center>
      <h2>ROB BOURDON</h2>
      <hr width="100" />
      <img src="../assets/img/rob.jpeg" alt="Rob Bourdon" width="250" />
      <p><small>Drummer - Linkin Park</small></p>
    </center>

    <br />

    <table width="90%" align="center" border="0">
      <tr>
        <td valign="top">
          <p>
            <strong>Robert Gregory Bourdon</strong>, lahir pada 20 Januari 1979
            di Calabasas, California, adalah drummer dari Linkin Park. Ia
            merupakan anggota termuda dalam band, namun memainkan peran penting
            sejak awal terbentuknya grup ini.
          </p>
          <p>
            Rob mulai bermain drum sejak usia muda dan terinspirasi oleh konser
            live dari band <em>Aerosmith</em>, di mana ibunya bekerja sebagai
            manajer tur. Pengaruh tersebut membentuk gaya permainannya yang
            powerful namun presisi.
          </p>
          <p>
            Dalam Linkin Park, Rob dikenal karena kemampuannya menggabungkan
            permainan drum tradisional dengan elemen elektronik, menciptakan
            ritme yang khas dalam lagu-lagu seperti <em>“In the End”</em> dan
            <em>“Numb”</em>.
          </p>
          <p>
            Ia juga dikenal sebagai sosok yang tenang, rendah hati, dan sangat
            berdedikasi terhadap musikalitas band.
          </p>
        </td>
      </tr>
    </table>

    <br />
    <hr />
    <center><p>Ebren Tinambunan | © 2025 Linkin Park Fan Page</p></center>
  </body>
</html>
